<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <head>
    <body>
        <h1>Hello</h1>
        <a class="dropdown-item" href="{%url 'logout'%}">Log Out</a>

        <form>
            Title:<br>
            <input id="one" type="text" name="firstname">
            <br>
            Building Name:<br>
            <input id="two" type="text" name="lastname">
            <br>
            Address:<br>
            <input id="three" type="text" name="lastname">
            <br>
            Square Footage:<br>
            <input id="four" type="text" name="lastname">
            <br>
            Uses:<br>
            <input id="five" type="text" name="lastname">
            <br>
            Electricity Provider:<br>
            <input id="six" type="text" name="lastname">
            <br>
            Applicable Options:<br>
            <input id="seven" type="text" name="lastname">
            <br><br>
            <button>Submit</button>
        </form> 
    </body>
    <script>
        $(document).ready(function () {
            // Listen to click event on the submit button
            $('button').click(function (e) {

                e.preventDefault();
                
                var data = {
                    "title": $("#one").val(),
                    "building_name": $("#two").val(),
                    "address": $("#three").val(),
                    "square_footage": $("#four").val(),
                    "uses": [{"name":"use 1","num":12},{"name":"use 2","num":22}],
                    "electricity_provider": $("#six").val(),
                    "applicable_options": ["c","d"],
                    "page": 1
                };
                console.log(data);
                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "http://127.0.0.1:8000/survey/add_building",
                    "method": "POST",
                    "processData": false,
                    "data": JSON.stringify(data)
                };

                $.ajax(settings).done(function (response) {
                    console.log(response);
                });
            });
        });
        
    </script>
</html>