{% load crispy_forms_tags %}
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h1>Sign Up</h1>
                <form method="POST" novalidate>
                    {% csrf_token %}
                    {{ form.first_name }}
                    {{ form.last_name }}
                    {{ form.email }}
                    {{ form.password1 }}
                    {{ form.password2 }}
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
